@import url("https://gitcdn.link/repo/thegrizzlylabs/helpscout-docs-stylesheet/master/help.css");

/* https://docs.helpscout.net/article/79-retina-logo */
#mainNav .brand span {
  background: url(https://d2so04m9368s9h.cloudfront.net/support/helpscout-docs-genius-fax-logo-3.png) no-repeat 0 0;
  background-size: 100%;
}

#mainNav .brand::after {
  content: "Genius Fax";
}
